.full-width {
  width: 100%;
}

.text-red {
  color: #d9534f;
  font-weight: 600;
}

.text-green {
  color: #5cb85c;
  font-weight: 600;
}

.text-orange {
  color: #f0ad4e;
  font-weight: 600;
}

.container {
  padding: 16px;
}
